<!DOCTYPE html>
<html ng-app="store">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Angular store</title>
</head>
<body ng-controller="StoreController as store">
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<div class="container">
    <p>{{"hello" + " you!"}}</p>


    <div ng-repeat="product in store.products">

        <div class="panel panel-info" ng-hide="product.soldOut">

            <div class="panel-heading">{{product.name}}</div>

            <div class="panel-body">
                <section ng-controller="PanelController as panel" >

                    <ul class="nav nav-pills">
                        <li ng-class="{ active:panel.isSelected(1)}">
                            <a href ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>

                    <h2>{{product.price | currency}}</h2>

                    <div class="panel" ng-show="panel.isSelected(1)">
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <p>no content</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <p>no content</p>
                    </div>

                    <div class="row" ng-show="{{ product.images.length }}">
                        <div class="col-md-3" ng-repeat="image in product.images">
                            <a class="thumbnail" href="#">
                                <img ng-src="{{image}}" alt="{{product.name}}"/>
                            </a>
                        </div>
                    </div>

                    <button ng-show="product.canPurchase">Add to Cart</button>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>