<!DOCTYPE html>
<html ng-app="store">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Angular store</title>
</head>
<body ng-controller="StoreController as store">
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<div class="container">
    <p>{{"hello" + " you!"}}</p>


    <div ng-repeat="product in store.products">

        <div class="panel panel-info" ng-hide="product.soldOut">

            <div class="panel-heading">
                <product-title></product-title>
            </div>

            <div class="panel-body">
                <section ng-controller="PanelController as panel" >

                    <ul class="nav nav-pills">
                        <li ng-class="{ active:panel.isSelected(1)}">
                            <a href ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>

                    <h2>{{product.price | currency}}</h2>

                    <div class="panel" ng-show="panel.isSelected(1)">
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <p>no content</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <ul>
                            <li ng-repeat="review in product.reviews">
                                <blockquote>
                                    <strong>{{review.stars}} Stars</strong>
                                    {{review.body}}
                                    <cite class="clearfix">— {{review.author}} on {{review.createdOn | date}}</cite>
                                </blockquote>
                            </li>
                        </ul>

                        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                            <hr/>
                            <blockquote>
                                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                                {{reviewCtrl.review.body}}
                                <cite class="clearfix">— {{reviewCtrl.review.author}}</cite>
                            </blockquote>
                            <hr/>

                            <h4>Submit a Review</h4>
                            <fieldset class="form-group">
                                <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars rating" required>
                                    <option value=""> Rate the product</option>
                                </select>
                            </fieldset>

                            <fieldset class="form-group">
                                <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review message…" title="Review" required></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="john@example.com" title="Email" required>
                            </fieldset>

                            <fieldset class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Submit Review">
                            </fieldset>
                        </form>

                    </div>

                    <div class="row" ng-show="{{ product.images.length }}">
                        <div class="col-md-3" ng-repeat="image in product.images">
                            <a class="thumbnail" href="#">
                                <img ng-src="{{image}}" alt="{{product.name}}"/>
                            </a>
                        </div>
                    </div>

                    <button ng-show="product.canPurchase">Add to Cart</button>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>